<html lang="en">
  <head>
    <title>SpiceHours</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="top-bar">
      <div class="container">
        <div class="top-content">
          <img id="chilicorn-icon" src="chilicorn_no_text-256.png" alt="Chilicorn">
          <input type="number" step="any" class="form-control" aria-label="Number of hours">
          <input type="text" class="form-control" aria-label="Description link">
          <button id="send-button" type="button">Send</button>
        </div>
        <div id="transaction-status">
          <div class="loading">Loading data from the server...</div>
        </div>
      </div>
    </div>
    <div id="main-content">
      <div class="container">
        <div id="event-list"></div>
      </div>
    </div>

    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="network.js"></script>
    <script src="main.js"></script>
  </body>
</html>
