.loading-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.payroll-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.account-selector {
  margin-top: 10px;
  margin-bottom: 10px;
}

.account-level {
  margin: 7px;
}
