body {
  background-color: #E8F5F3;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 960px;
}

.top-bar {
  overflow: hidden;
  position: relative;
}

#chilicorn-icon {
  width: 128px;
  height: 128px;
  float: left;
}

@keyframes spin {
  100% { transform:rotate(-360deg); }
}

#chilicorn-icon.spin {
  animation: spin 0.5s linear;
}

.top-content {
  height: 128px;
}

.hours-form label {
  display: inline-block;
  width: 20%;
  margin-top: 4px;
  vertical-align: top;
  text-align: right;
}

.hours-form input, .hours-form textarea, .hours-form button {
  width: 20%;
  margin-top: 2px;
  margin-left: 2px;
}

#transaction-status > div {
  background-color: #A5D6A7;
  border-radius: 10px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}

@keyframes pending-blinker {
  50% { background: rgba(239, 83, 80, 0.7); }
}

#transaction-status > div.pending {
  background-color: rgba(239, 83, 80, 1.0);
  animation: pending-blinker 1.75s linear infinite;
}

#transaction-status > div.loading {
  background-color: #FFF59D;
}

#main-content {
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  overflow-y: scroll;
}

#event-list {
  padding-top: 10px;
}

#event-list li {
  padding: 15px;
  border-bottom: 1px solid #bdbdbd;
}

#event-list li *:first-child {
  margin-bottom: 10px;
}
