body {
  background-color: #E8F5F3;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 960px;
}

.top-bar {
  overflow: hidden;
  position: relative;
}

#chilicorn-icon {
  width: 128px;
  height: 128px;
  margin-right: 20px;
  float: left;
}

@media (max-width: 767px) {
  #chilicorn-icon {
    display: none;
  }
  .top-content {
    margin-left: 10px;
  }
}

@media (max-width: 600px) {
  .hours-form label {
    display: none !important;
  }
}

@media (max-width: 500px) {
  .top-content > span {
    display: none !important;
  }
}

@keyframes spin {
  100% { transform:rotate(-360deg); }
}

#chilicorn-icon.spin {
  animation: spin 0.5s linear;
}

.top-content {
  height: 128px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.top-content > div {
  display: inline-block;
  vertical-align: middle;
}

.top-content:before {
  content: "";
  height: 100%;
}

.hours-form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hours-form > * {
  display: inline-block;
  vertical-align: middle;
}

.hours-form:before {
  content: "";
  height: 100%;
}

.hours-form label {
  display: inline-block;
  width: 100px;
  margin-top: 4px;
  margin-right: 10px;
  vertical-align: top;
  text-align: right;
}

.hours-form input, .hours-form textarea {
  width: 400px;
  margin-top: 2px;
  margin-left: 2px;
}

.hours-form textarea {
  height: 150px;
  resize: none;
}

.hours-form input[name="hours"] {
  width: 45px;
}

.hours-form input[name="minutes"] {
  width: 45px;
}

.hours-form input, .hours-form textarea {
  border: 2px solid #9E9E9E;
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding: 4px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 2px 0;
}

.hours-form button {
  width: 100px;
  height: 50px;
  background-color: #A5D6A7;
}

.tx-status > div {
  background-color: #A5D6A7;
  border-radius: 10px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}

@keyframes pending-blinker {
  50% { background: rgba(239, 83, 80, 0.7); }
}

.tx-status > div.error {
  background-color: rgba(239, 83, 80, 1.0);
}

.tx-status > div.pending {
  background-color: rgba(239, 83, 80, 1.0);
  animation: pending-blinker 1.75s linear infinite;
}

.tx-status > div.loading {
  background-color: #FFF59D;
}

#main-content {
  overflow: hidden;
  overflow-y: scroll;
}

#event-list {
  padding-top: 10px;
}

#event-list li {
  padding: 15px;
  border-bottom: 1px solid #bdbdbd;
}

#event-list li *:first-child {
  margin-bottom: 10px;
}
